body {

    font-family: arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
    height: 100%;
}

a {

    text-decoration: none;
    color: grey;
}



.nav-content img {

    height: 23px;
    width: 23px;
    margin-top: 0px

}

.nav-content ul {
    list-style-type: none;
    float: right;
    text-align: right;
    padding: 5px;
    margin: 10px;

}

.nav-content li {

    float: left;
    display: block;
    margin-right: 15px;

}

.nav-content .sign-in {

    background-color: blue;
    height: 30px;
    width: 70px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;

}

.main {

    text-align: center;
    padding: 120px;
    padding-top: 150px;

}

.main img {

    width: 300px;

}

.main .browser {

    width: 550px;
    padding: 13px;
    margin: 10px;
    margin-top: 0px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 4px;
    box-shadow: 1px 2px 2px rgb(168, 157, 160);

}

.main button {
    margin: 20px;
    height: 40px;
    width: 150px;
    color: gray;
    border: none;
    background-color: lightgrey;
    border-radius: 2px;
    font-weight: bold;

}

.footer-left ul {
    list-style-type: none;
    float: left;
    padding: 5px;
    margin-left: 15px;
}

.footer-right ul {
    list-style-type: none;
    float: right;
    padding: 5px;
    margin-right: 15px;
}

.footer li {
    float: left;
    display: block;
    margin-right: 15px;
    margin-bottom: 3px;
}

.footer {
    position: absolute;
    border-top: 1px solid #e4e4e4;
    width: 100%;
    background: lightgrey;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}